body {
    margin: 0;
    padding: 0;
}

.links {
    text-transform: uppercase;
    text-align: center;
    padding: 25px ;
}

.links a {
    text-decoration: none;
    margin: 80px;
    color: #6fbcaa;
}

.photo {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}

.text {
    width: 80%;
    text-align: center;
    margin: auto;
}

.btn  {
    width: 190px;
    margin: 0 auto;
    display: block;
    padding: 18px;
    border-radius: 6px;
    border-color: transparent;
    background-color:#16a085;
    color: #d1e8e2;
    text-transform: uppercase;
    cursor: pointer;
}

.ftr {
    text-align: right;
    padding: 140px 125px 50px;
}